<h1 class="title">Which language will you go for?</h1>
<div class="container">
  <div class="card-container">
    <div *ngFor="let languageCard of languageCards; let i = index">
      <div>
        <mat-card
          [ngClass]="languageCard.available ? 'mat-card-green' : 'mat-card-red'"
          routerLink="{{ languageCard.language }}"
          (click)="selectClicked(i)"
        >
          <mat-card-title>{{ languageCard.language }}</mat-card-title>
          <mat-card-content>{{ languageCard.greeting }}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
