.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  height: 60vh;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

mat-card {
  width: 260px;
}
