.title {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.available {
  background-color: rgb(65, 156, 65);
}

.not-available {
  background-color: rgb(192, 66, 66);
}
