<h1 class="title">Pick a Card</h1>
<div class="card-container">
  <div class="row">
    <div *ngFor="let category of categories; let i = index">
      <mat-card>
        <mat-card-title>{{ category.category }}</mat-card-title>
        <mat-card-content>{{ category.description }}</mat-card-content>
        <button *ngIf="i == 0" (click)="openTest()">
          Click here to learn some Animal names!
        </button>
        <button *ngIf="i == 1" (click)="openTest()">
          Click here to learn different verbs!
        </button>
        <button *ngIf="i == 2" (click)="openPhraseModal()">
          Click here to learn phrases you will commonly use!
        </button>
      </mat-card>
    </div>
  </div>
</div>

<app-modal #urduNounModal></app-modal>
<app-modal #urduVerbModal></app-modal>
<app-modal #urduPhraseModal></app-modal>
<app-modal #testing2></app-modal>
