<h1 class="title">Pick a Card</h1>
<div class="card-container">
  <div class="row">
    <div *ngFor="let category of categories; let i = index">
      <mat-card *ngIf="i == 0" (click)="openNounModal()">
        <mat-card-title>{{ category.category }}</mat-card-title>
        <mat-card-content>{{ category.description }}</mat-card-content>
      </mat-card>
      <mat-card *ngIf="i == 1" (click)="openVerbModal()">
        <mat-card-title>{{ category.category }}</mat-card-title>
        <mat-card-content>{{ category.description }}</mat-card-content>
      </mat-card>
      <mat-card *ngIf="i == 2" (click)="openPhraseModal()">
        <mat-card-title>{{ category.category }}</mat-card-title>
        <mat-card-content>{{ category.description }}</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<app-modal #urduNounModal></app-modal>
<app-modal #urduVerbModal></app-modal>
<app-modal #urduPhraseModal></app-modal>
