<div #urduNounModal class="container">
  <div class="container-two">
    <div class="front flip" *ngFor="let urduNoun of urduNouns; let i = index">
      <div class="front">
        <p class="word">{{ urduNoun.word }}</p>
      </div>
      <div class="back">
        <p class="translation">{{ urduNoun.translation }}</p>
      </div>
    </div>
  </div>
  <div class="back button-container">
    <button (click)="close()">Close</button>
  </div>
</div>

<div #urduVerbModal class="container">
  <div class="content" *ngFor="let urduVerb of urduVerbs">
    <p class="word">Word: {{ urduVerb.word }}</p>
    <p class="translation">Translation: {{ urduVerb.translation }}</p>
  </div>
  <div class="button-container">
    <button (click)="close()">Close</button>
  </div>
</div>

<div #urduPhraseModal class="container">
  <div class="content" *ngFor="let urduPhrase of urduPhrases">
    <p class="word">Phrase: {{ urduPhrase.word }}</p>
    <p class="translation">Translation: {{ urduPhrase.translation }}</p>
  </div>
  <div class="button-container">
    <button (click)="close()">Close</button>
  </div>
</div>

<div #frenchNounModal class="container">
  <div class="content" *ngFor="let frenchNoun of frenchNouns">
    <p class="word">Word: {{ frenchNoun.word }}</p>
    <p class="translation">Translation: {{ frenchNoun.translation }}</p>
  </div>
  <div class="button-container">
    <button (click)="close()">Close</button>
  </div>
</div>

<div #frenchVerbModal class="container">
  <div class="content" *ngFor="let frenchVerb of frenchVerbs">
    <p class="word">Word: {{ frenchVerb.word }}</p>
    <p class="translation">Translation: {{ frenchVerb.translation }}</p>
  </div>
  <div class="button-container">
    <button (click)="close()">Close</button>
  </div>
</div>

<div #frenchPhraseModal class="container">
  <div class="content" *ngFor="let frenchPhrase of frenchPhrases">
    <p class="word">Word: {{ frenchPhrase.word }}</p>
    <p class="translation">Translation: {{ frenchPhrase.translation }}</p>
  </div>
  <div class="button-container">
    <button (click)="close()">Close</button>
  </div>
</div>
