<div #urduAnimalsModal class="container">
  <div class="container-two">
    <div
      class="front flip"
      *ngFor="let urduAnimal of urduAnimals; let i = index"
    >
      <div class="front">
        <p class="word">{{ urduAnimal.word }}</p>
      </div>
      <div class="back">
        <p class="translation">{{ urduAnimal.translation }}</p>
      </div>
    </div>
  </div>
  <div class="back button-container">
    <button (click)="close()">Close</button>
  </div>
</div>

<div #urduFruitModal class="container">
  <div class="container-two">
    <div class="front flip" *ngFor="let urduVerb of urduVerbs; let i = index">
      <div class="front">
        <p class="word">{{ urduVerb.word }}</p>
      </div>
      <div class="back">
        <p class="translation">{{ urduVerb.translation }}</p>
      </div>
    </div>
  </div>
  <div class="back button-container">
    <button (click)="close()">Close</button>
  </div>
</div>

<div #urduPhraseModal class="container">
  <div class="container-two">
    <div
      class="front flip"
      *ngFor="let urduPhrase of urduPhrases; let i = index"
    >
      <div class="front">
        <p class="word">{{ urduPhrase.word }}</p>
      </div>
      <div class="back">
        <p class="translation">{{ urduPhrase.translation }}</p>
      </div>
    </div>
  </div>
  <div class="back button-container">
    <button (click)="close()">Close</button>
  </div>
</div>

<div #frenchNounModal class="container">
  <div class="container-two">
    <div
      class="front flip"
      *ngFor="let frenchNoun of frenchNouns; let i = index"
    >
      <div class="front">
        <p class="word">{{ frenchNoun.word }}</p>
      </div>
      <div class="back">
        <p class="translation">{{ frenchNoun.translation }}</p>
      </div>
    </div>
  </div>
  <div class="back button-container">
    <button (click)="close()">Close</button>
  </div>
</div>

<div #frenchVerbModal class="container">
  <div class="container-two">
    <div
      class="front flip"
      *ngFor="let frenchVerb of frenchVerbs; let i = index"
    >
      <div class="front">
        <p class="word">{{ frenchVerb.word }}</p>
      </div>
      <div class="back">
        <p class="translation">{{ frenchVerb.translation }}</p>
      </div>
    </div>
  </div>
  <div class="back button-container">
    <button (click)="close()">Close</button>
  </div>
</div>

<div #frenchPhraseModal class="container">
  <div class="container-two">
    <div
      class="front flip"
      *ngFor="let frenchPhrase of frenchPhrases; let i = index"
    >
      <div class="front">
        <p class="word">{{ frenchPhrase.word }}</p>
      </div>
      <div class="back">
        <p class="translation">{{ frenchPhrase.translation }}</p>
      </div>
    </div>
  </div>
  <div class="back button-container">
    <button (click)="close()">Close</button>
  </div>
</div>
