.container {
  display: none;
  position: absolute;
  padding-top: 6%;
  left: 0;
  top: 0;
  width: 100%;
  height: 89%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.container-two {
  width: 12%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px 0px 30px 0px;
}

// base
.flip {
  position: relative;
  > .front,
  > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
  }
  > .front {
    transform: rotateY(0deg);
  }
  > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    transform: rotateY(-180deg);
  }
  &:hover {
    > .front {
      transform: rotateY(180deg);
    }
    > .back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
  &.flip-vertical {
    > .back {
      transform: rotateX(-180deg);
    }
    &:hover {
      > .front {
        transform: rotateX(180deg);
      }
      > .back {
        transform: rotateX(0deg);
      }
    }
  }
}

// custom
.flip {
  position: relative;
  > .front,
  > .back {
    display: block;
    color: white;
    background-size: cover !important;
    background-position: center !important;
    height: 100px;
    width: 100px;
    padding: 1em 2em;
    background: rgb(81, 94, 97);
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

p {
  display: flex;
  justify-content: center;
}
